    <footer class="footer-1 bg-dark">
    </footer>
  </div>
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/flickr.js"></script>
  <script src="/public/js/flexslider.min.js"></script>
  <script src="/public/js/lightbox.min.js"></script>
  <script src="/public/js/masonry.min.js"></script>
  <script src="/public/js/twitterfetcher.min.js"></script>
  <script src="/public/js/spectragram.min.js"></script>
  <script src="/public/js/ytplayer.min.js"></script>
  <script src="/public/js/countdown.min.js"></script>
  <script src="/public/js/smooth-scroll.min.js"></script>
  <script src="/public/js/parallax.js"></script>
  <script src="/public/js/scripts.js"></script>
  {{if eq .RunMode "dev"}}
  {{template "debug.html" .}}
  {{end}}
</body>
</html>
