    <footer class="footer-1 bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img alt="Logo" class="logo" src="/public/img/logo-keepassweb2.png" />
          </div>
        </div>
        <br><br>
        <!--end of row-->
        <div class="row">
          <div class="col-sm-6">
            <span class="sub">All right reserved &copy; <script type="text/javascript">var cur = 2017; var year = new Date(); if(cur == year.getFullYear()) year = year.getFullYear(); else year = cur + ' - ' + year.getFullYear(); document.write(year);</script></span>
          </div>
          <div class="col-sm-6 text-right">
            <ul class="list-inline social-list">
              <li>
                <a href="https://github.com/wariosolis/keepassweb">
                  <i class="ti-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end of container-->
      <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
    </footer>
  </div>
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/flickr.js"></script>
  <script src="/public/js/flexslider.min.js"></script>
  <script src="/public/js/lightbox.min.js"></script>
  <script src="/public/js/masonry.min.js"></script>
  <script src="/public/js/twitterfetcher.min.js"></script>
  <script src="/public/js/spectragram.min.js"></script>
  <script src="/public/js/ytplayer.min.js"></script>
  <script src="/public/js/countdown.min.js"></script>
  <script src="/public/js/smooth-scroll.min.js"></script>
  <script src="/public/js/parallax.js"></script>
  <script src="/public/js/scripts.js"></script>
  {{if eq .RunMode "dev"}}
  {{template "debug.html" .}}
  {{end}}
</body>
</html>
