<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/public/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/public/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/public/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/public/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/public/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/public/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
  {{template "nav-bar.html" .}}
  <div class="main-container">

