<div class="nav-container ">
    <a id="top"></a>
    <nav class="bg-dark">
        <div class="nav-bar">
            <div class="module left">
                <a href="{{ url "Dashboard.Index" }}">
                    <img class="logo logo-light" alt="Foundry" src="/public/img/logo-light.png"/>
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    {{ if .user }}
                    <ul class="menu">
                        <li>
                            <a href="">
                                My passwords
                            </a>
                        </li>
                        <li>
                            <a href="">
                                My Categories
                            </a>
                        </li>
                    </ul>
                    {{ else }}
                    <ul class="menu">
                        <li>
                            <a href="{{ url "Account.login" }}">
                            Login
                            </a>
                        </li>
                        <li>
                            <a href="{{ url "Account.register" }}">
                            Register
                            </a>
                        </li>
                    </ul>
                    {{ end }}
                </div>
                <!--end of menu module-->
                {{ if .user }}
                <div class="module widget-handle language left">
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a href="#">{{ .user.Name }}</a>
                            <ul>
                                <li>
                                    <a href="#">My profilec</a>
                                </li>
                                <li>
                                    <a href="{{ url "Account.logout" }}">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {{ end }}
            </div>
            <!--end of module group-->
        </div>
    </nav>
</div>
